@{
    ViewData["Title"] = "Home Page";
}

@model List<Result>

<h1>Personajes de Rick y Morty</h1>
<br>
<br>
<div class="character-table">
    @foreach (var character in Model)
    {
        <div class="card">
            <div class="card-imagen">
                <img class="thumb" src="@character.image" alt="Character Image">
            </div>
            <div class="card-body">
                <h2>@character.name</h2>
                <br> 
                @* para cambiar el color según el estado *@
                @if (character.status == "Alive")
                {
                    <p>Estado: <span class="alive">@character.status</span></p>
                }
                else if (character.status == "Dead")
                {
                    <p>Estado: <span class="dead">@character.status</span></p>
                }
                else
                {
                    <p>Estado: <span class="unknown">@character.status</span></p>
                }
                <p>Especie: @character.species</p>
                <p>Género: @character.gender</p>
            </div>
        </div>
    }
</div>





